@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: normal;
  src: url('./app/assets/fonts/Golos-Text_Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 500;
  src: url('./app/assets/fonts/Golos-Text_Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 600;
  src: url('./app/assets/fonts/Golos-Text_DemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 700;
  src: url('./app/assets/fonts/Golos-Text_Bold.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* body {
  font-family: 'Golos Semibold';
} */

.page__wrapper {
  background: repeating-linear-gradient(
    to right,
    #fff,
    #fff 21rem,
    #eff1f3 21rem,
    #eff1f3 21.1rem
  );
}
